.comfort {

  &__header {
    position: relative;

    &::before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      top: -40px;
      right: 0;
      z-index: 1;
      background-image: url('../img/star.svg');
      background-repeat: no-repeat;

      opacity: 0;
      transition: all 0.9s;
      transform: translateY(30px);

      @include tabold {
        top: 25px;
        right: 40px;
      }

      @include laptop {
        top: 50px;
      }
    }

    &._active::before {
      opacity: 1;
      transition-delay: 1200ms;
      transform: translateY(0);
    }

    &::after {
      content: '';
      width: 60px;
      height: 60px;
      position: absolute;
      top: 120%;
      left: 0;
      z-index: 1;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;

      opacity: 0.1;
      transition: all 0.9s;
      transform: translateY(20px);

      @include tabold {
        top: -10%;
      }

      @include laptop {
        width: 80px;
        height: 80px;
      }
    }

    &._active::after {
      opacity: 1;
      transition-delay: 200ms;
      transform: translateY(0);
    }
  }

  &__first-line {
    @include tabold {
      text-align: center;
    }
  }

  &__second-line {
    @include tabold {
      margin-left: 36%;
    }
  }

  &__container {
    margin-top: 72px;

    @include tabold {
      margin-top: -50px;
      display: grid;
      grid-template-columns: 3fr 6fr;
      gap: 36px;
    }

    @include laptop {
      gap: 56px;
    }
  }

  &__image {
    margin-bottom: 48px;

    @include tabold {
      margin-bottom: 0;
      width: 340px;
    }

    @include laptop {
      width: 100%;
    }
  }

  &__item {
    font-weight: 300;
    opacity: 0;
    transition: all 1s;
    transform: translateY(10px);

    & p {
      margin-bottom: 0;
      margin-top: 12px;
    }

    &._active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__item:nth-child(1) {
    transition-delay: 0.2s;
  }

  &__item:nth-child(2) {
    transition-delay: 0.4s;
  }

  &__item:nth-child(3) {
    transition-delay: 0.6s;
  }

  &__item:nth-child(4) {
    transition-delay: 0.8s;
  }

  &__subtitle {
    color: $accent-color;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }

  &__list {
    display: grid;
    gap: 36px;

    @include tabold {
      margin-top: 96px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content;
    }

    @include laptop {
      margin-top: 146px;
      gap: 36px 56px;
    }
  }
}
