.faq {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;

  &__title {
    position: relative;
    padding-bottom: 30%;

    @include tabold {
      padding-bottom: 96px;
    }

    &::after {
      content: '';
      width: 60px;
      height: 60px;
      position: absolute;
      top: -70px;
      left: 0;
      z-index: 1;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;

      @include tabold {
        top: 10%;
        right: 20%;
      }

      @include laptop {
        width: 80px;
        height: 80px;
        right: 15%;
      }
    }

    &::before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      top: 80px;
      right: 0;
      z-index: 1;
      background-image: url('../img/star.svg');
      background-repeat: no-repeat;

      @include tabold {
        top: 65%;
        right: 100px;
      }
    }
  }


  &__first-line {
    @include tabold {
      margin-left: 22%;
    }
  }

  &__second-line {
    @include tabold {
      margin-left: 12%;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 16px;

    @include tabold {
      margin-top: 0;
    }
  }

  &__list {
    margin-top: 36px;
    display: grid;
    gap: 36px;
    counter-reset: faq;

    @include tabold {
      margin-top: 0;
      gap: 56px;
    }
  }

  &__item {
    padding-top: 12px;
    border-top: 4px solid $black;

    @include tabold {
      padding-top: 24px;
    }

    &::before {
      counter-increment: faq;
      content: counter(faq, decimal-leading-zero);
      color: $yellow;
      font-size: 24px;
      font-family: "steelfish", "Arial", sans-serif;

      @include tabold {
        font-size: 36px;
      }
    }

    @include tabold {
      display: grid;
      grid-template-columns: 2fr 7fr;
    }
  }

  &__content {
    @include tabold {
      max-width: 500px;
    }

    @include laptop {
      max-width: 640px;
    }
  }

  &__content p {
    margin: 0;
  }

  &__header {
    position: relative;
  }

  &__image {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;

    @include tabold {
      top: 0;
      width: 480px;
    }

    @include laptop {
      width: 555px;
      top: 30px;
    }
  }

}
