.faq {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;

  @include tabold {
    padding-top: $padding-pc;
    padding-bottom: $padding-pc;
  }

  &__title {
    position: relative;
    padding-bottom: 30%;

    @include tabold {
      padding-bottom: 96px;
    }

    &::after {
      content: '';
      width: 60px;
      height: 60px;
      position: absolute;
      top: -70px;
      left: 0;
      z-index: 1;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;

      opacity: 0;
      transition: all 0.9s;
      transform: translateY(20px);

      @include tabold {
        top: 10%;
        right: 20%;
      }

      @include laptop {
        width: 80px;
        height: 80px;
        right: 15%;
      }
    }

    &._active::after {
      opacity: 1;
      transition-delay: 1200ms;
      transform: translateY(0);
    }

    &::before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      top: 80px;
      right: 0;
      z-index: 1;
      background-image: url('../img/star.svg');
      background-repeat: no-repeat;

      opacity: 0;
      transition: all 0.9s;
      transform: translateY(10px);

      @include tabold {
        top: 65%;
        right: 100px;
      }
    }

    &._active::before {
      opacity: 1;
      transition-delay: 1700ms;
      transform: translateY(0);
    }
  }

  &__first-line {
    @include tabold {
      margin-left: 22%;
    }
  }

  &__second-line {
    @include tabold {
      margin-left: 12%;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 16px;

    @include tabold {
      margin-top: 0;
    }
  }

  &__list {
    margin-top: 36px;
    display: grid;
    gap: 36px;
    counter-reset: faq;

    @include tabold {
      margin-top: 0;
      gap: 56px;
    }
  }

  &__item {
    padding-top: 12px;
    border-top: 4px solid $black;
    opacity: 0;
    transition: all 1s;
    transform: translateY(10px);

    &._active {
      opacity: 1;
      transform: translateY(0);
    }

    @include tabold {
      padding-top: 24px;
    }

    &::before {
      counter-increment: faq;
      content: counter(faq, decimal-leading-zero);
      color: $yellow;
      font-size: 24px;
      font-family: "steelfish", "Arial", sans-serif;

      @include tabold {
        font-size: 36px;
      }
    }

    @include tabold {
      display: grid;
      grid-template-columns: 2fr 7fr;
    }
  }

  &__item:nth-child(1) {
    transition-delay: 0.3s;
  }

  &__item:nth-child(2) {
    transition-delay: 0.6s;
  }

  &__item:nth-child(3) {
    transition-delay: 0.8s;
  }

  &__content {
    @include tabold {
      max-width: 500px;
    }

    @include laptop {
      max-width: 640px;
    }

    & p {
      margin: 0;
    }
  }

  &__header {
    position: relative;
  }

  &__image {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
    object-fit: cover;
    max-height: 0;
    transition: max-height 1s ease-out;
    transition-delay: 900ms;

    &._active {
      max-height: 224px;
    }

    @include tabold {
      top: 0;
      width: 480px;
    }

    @include laptop {
      width: 555px;
      top: 30px;
    }
  }

}
