.header {
  background-color: $black;
  animation: 0.7s ease-out 0s header;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 5;
  }

  &__container {
    height: 60px;
    display: flex;
    align-items: center;

    @include laptop {
      height: 80px;
    }
  }

  &__button {
    margin-left: auto;
  }

  &__menu {
    @include tabold {
      display: flex;
      gap: 24px;
      margin-left: 6%;
    }

    @include laptop {
      gap: 32px;
    }
  }

  &__link {
    color: $white;
  }
}

@keyframes header {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
