.hero {
  padding-top: $padding-mobile;

  @include laptop {
    padding-top: 56px;
  }

  &__container {
    position: relative;

    @include tabold {
      display: grid;
      grid-template-columns: 6fr 3fr;
      gap: 56px;
    }

    &::before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      top: -20px;
      right: 40px;
      z-index: 1;
      background-image: url('../img/star.svg');
      background-repeat: no-repeat;
    }
  }

  &__content {
    position: relative;

    &::after {
      content: '';
      width: 60px;
      height: 60px;
      position: absolute;
      top: 35%;
      left: 0;
      z-index: 1;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;

      @include tabold {
        top: 62%;
      }

      @include laptop {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__title {
    color: $accent-color;
  }

  &__second-title {
    margin-left: 80px;

    @include tabold {
      text-align: right;
    }
  }

  &__subtitle {
    margin: 0;
    margin-top: 16px;
    margin-left: 80px;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height: 1.4;
    color: $white;

    @include tabold {
      position: absolute;
      right: 0;
      top: 0;
    }

    @include laptop {
      font-size: 26px;
    }
  }

  &__image {
    display: none;

    @include tabold {
      display: block;
      border-radius: $radius;
      overflow: hidden;
      width: 220px;
      position: absolute;
    }

    @include laptop {
      width: 300px;
    }
  }
}
