.slider {

  &__item {
    background-color: $black;
    border-radius: $radius;
    padding: 24px;
    box-sizing: border-box;
    font-size: 16px;

    @include tabold {
      padding: 42px;
      font-size: 18px;
    }

    @include laptop {
      padding: 56px;
      max-width: 540px!important;
    }
  }
}
