$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$tabold-min: 1024px;
$tabold-max: 1279px;
$laptop-min: 1280px;
$macbook-min: 1440px;
$mac-min: 1500px;
$laptop-max: 1919px;
$desktop-min: 1920px;

@mixin mobile-only {
    @media (max-width: $mobile-max) {
        @content;
    }
}

@mixin mobile-tablet-only {
  @media (max-width: $tablet-max) {
      @content;
  }
}

@mixin tablet-only {
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-min) {
        @content;
    }
}

@mixin tabold-only {
  @media (min-width: $tabold-min) and (max-width: $tabold-max) {
      @content;
  }
}

@mixin tabold {
  @media (min-width: $tabold-min) {
      @content;
  }
}

@mixin laptop-only {
    @media (min-width: $laptop-min) and (max-width: $laptop-max) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: $laptop-min) {
        @content;
    }
}

@mixin macbook {
  @media (min-width: $macbook-min) {
      @content;
  }
}

@mixin mac {
  @media (min-width: $mac-min) {
      @content;
  }
}

@mixin desktop {
    @media (min-width: $desktop-min) {
        @content;
    }
}
