@font-face {
  font-family: "gteestipro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gteestiprodisplay_thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "gteestipro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gteestiprodisplay_regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "gteestipro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/gteestiprodisplay_medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "steelfish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/steelfish.woff2") format("woff2");
  font-display: swap;
}
