$white: #fbfbff;
$gray: #e8e8e8;
$black: #242429;
$yellow: #d2b148;
$bg-color: #26282d;
$accent-color: #aad28c;

$hover-color: rgb(37, 37, 37, 90%);
$active-color: rgb(37, 37, 37, 75%);

$padding-mobile: 64px;
$padding-pc: 96px;
$radius: 6px;
$transition: all 0.3s;

@mixin title {
  color: $white;
  text-transform: uppercase;
  font-family: "steelfish", "Arial", sans-serif;
  font-weight: 400;
  line-height: 105%;
  margin: 0;
}
